#eneam {position: relative;
left: 800px;
bottom: 150px;
}
#uac{
    position: relative;
    left: 20px;   
    bottom:150px;
    width:15%;
}
h1,h2{text-align:center;
    color:blue
    }
#ber {
    position: relative;
    width: 20%;
    height: 70%;
    left: 80px;
}
td{
    border :3px solid black;
    padding: 20px;
}
  
table{
     border-collapse: collapse;

}
#ig{background-color: red;
color:blue}
#grh{background-color: yellow;
color:white}
body{
    background-image: url(spiders-web-1629374_1920.jpg)
}  


















































































































































}